* {
    font-family: 'sora', sans-serif;
}

table th {
    background-color: #F6F6F8;
    color: #B7BABF;
    font-weight: lighter;
    font-size: 14px;
    text-align: center;
}

table td{
    text-align: center;
    padding: 7px;
}

.mat-elevation-z8{
    margin: 4% 5%;
}

.imgBook{
    border-radius: 50%;
}

.addbtn button{
    margin-top: 2%;
    margin-left: 2%;
    background-color: #f65d4e;
}