<app-user-navbar></app-user-navbar>
<header class="header-container">
    <div class="header-image"></div>
    <div class="header-content" style="text-align: right;">
        <h1 class="headline">Your source for books.
        </h1>
        <p class="header-subtitle mt-5  ">discover, explore, and share your favorite reads with the Bookery.</p>
        <div class="header-buttons mt-5">
            <button mat-raised-button class="h-button mb-2">Books</button>
            <button mat-raised-button class="h-button ">Authors</button>
        </div>
    </div>
</header>