<app-user-navbar></app-user-navbar>
<section>
    <div class="container ">
        <h2 class="text-center mb-4 heading">Action</h2>
        <div class="row     ">
            <ng-container *ngFor="let book of books; let i = index;">
                <div class="col-md-3 mb-4">
                    <mat-card class="h-100">
                        <div mat-card-header>
                            <div class="book-image" [style.background-image]="'url(' + book.imageUrl + ')'"></div>
                        </div>
                        <mat-card-content class="card-content">
                            <a class="card-link">
                                <mat-card-title class="card-title">{{ book.title }}</mat-card-title>
                            </a>
                            <mat-card-subtitle class="card-subtitle">{{ book.author }}</mat-card-subtitle>
                        </mat-card-content>

                    </mat-card>
                </div>
                <div class="clearfix d-md-none"></div> <!-- add clearfix to clear the float on small devices -->
                <div *ngIf="(i + 1) % 4 === 0" class="col-md-12 mt-4"></div>
            </ng-container>
            <div class="col-md-12 mt-4">
                <mat-paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                    [length]="books.length"></mat-paginator>
            </div>
        </div>
    </div>
</section>