
<div class="dialog">

    <div mat-dialog-title>
        <h4>Add Categories</h4>
    </div>
                <div class="form-wrap">
                    <form [formGroup]="categoryForm" id="survey-form" (ngSubmit)="submitCategory()">
                        <div mat-dialog-content>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Category Name</mat-label>
                                        <input matInput type="text" class="form-control" formControlName="categoryName" name="categoryName"
                                        id="categoryName" placeholder="Enter the category name">
                                      </mat-form-field>

                                    <div *ngIf="categoryForm.get('categoryName')?.errors != null && categoryForm.get('categoryName')?.touched"
                                        class="alert-danger mt-2">
                                        <p class="text-danger"
                                            *ngIf="categoryForm.get('categoryName')?.errors?.['required']">First
                                            Name is
                                            required!</p>
                                        <p class="text-danger"
                                            *ngIf="categoryForm.get('categoryName')?.errors?.['minlength']">First
                                            Name minmum length 3</p>
                                        <p class="text-danger"
                                            *ngIf="categoryForm.get('categoryName')?.errors?.['maxlength']">First
                                            Name maxmim length 15</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div mat-dialog-action class="action" style="margin: auto;">
                                    <button mat-raised-button class="btn btn-block p-3" type="submit">{{data?'Update':'Save'}}</button>
                                    <button mat-raised-button class="btn btn-block p-3" (click)="closeDialog()" type="button">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    </form>
            </div>

        </div>