<app-navbar></app-navbar>
<div class="col-3 mt-5">
    <button class="button-86" role="button" data-bs-toggle="modal" data-bs-target="#myModal">Add Category</button>
</div>


<div class="modal" id="myModal">
    <div class="modal-dialog" style="width: auto !important;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Categories</h4>
                <button type="button" class="btn-close" (click)="CloseModel()" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="form-wrap">
                    <form [formGroup]="categoryForm" id="survey-form" (ngSubmit)="submitCategory()">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label id="name-label" for="name">Category Name</label>
                                    <input type="text" formControlName="categoryName" name="categoryName"
                                        id="categoryName" placeholder="Enter the category name" class="form-control"
                                        required>

                                    <div *ngIf="categoryForm.get('categoryName')?.errors != null && categoryForm.get('categoryName')?.touched"
                                        class="alert-danger mt-2">
                                        <p class="text-danger"
                                            *ngIf="categoryForm.get('categoryName')?.errors?.['required']">First
                                            Name is
                                            required!</p>
                                        <p class="text-danger"
                                            *ngIf="categoryForm.get('categoryName')?.errors?.['minlength']">First
                                            Name minmum length 3</p>
                                        <p class="text-danger"
                                            *ngIf="categoryForm.get('categoryName')?.errors?.['maxlength']">First
                                            Name maxmim length 15</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" id="submit" class="btn btn-primary btn-block"
                                    [disabled]="!categoryForm.valid">Add
                                    Category</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>


</div>