<app-navbar></app-navbar>

<section class="authorTable container">
    <app-authors-popup></app-authors-popup>
    <div class="row mt-5 mb-5 authorTable">
        <div class="col-12">
            <table class="table table-hover" [formGroup]="authorsForm" #authorForm="ngForm">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Photo</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Date of Birth</th>
                        <th>Author History</th>
                        <th style="width: 15%;" class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let author of authArr | paginate: { itemsPerPage: 4, currentPage: page };let i= index">
                        <td>{{author._id}}</td>
                        <td>
                            <div *ngIf="author.isEdit">
                                <input (change)="onFileSelected($event)" type="file" class="form-control"
                                    id="imageUpload" accept="image/*">
                            </div>
                            <div *ngIf="authorsForm.get('authorImg')?.errors != null && authorsForm.get('authorImg')?.touched"
                                class="alert-danger mt-2">
                                <p class="text-danger"
                                    *ngIf="authorsForm.get('authorImg')?.errors?.['required'] && author.isEdit">
                                    Image is
                                    required!</p>
                            </div>
                            <div class="imageContainer" *ngIf="!author.isEdit">
                                <img src="{{author.authorImg}}" />
                            </div>

                        </td>

                        <td>
                            <div *ngIf="author.isEdit">
                                <input formControlName="firstName" type="text" [(ngModel)]="author.firstName"
                                    class="form-control" />
                            </div>
                            <div *ngIf="authorsForm.get('firstName')?.errors != null && authorsForm.get('firstName')?.touched"
                                class="alert-danger mt-2">
                                <p class="text-danger"
                                    *ngIf="authorsForm.get('firstName')?.errors?.['required'] && author.isEdit">First
                                    Name is
                                    required!</p>
                                <p class="text-danger"
                                    *ngIf="authorsForm.get('firstName')?.errors?.['minlength'] && author.isEdit">First
                                    Name minmum length 3</p>
                                <p class="text-danger"
                                    *ngIf="authorsForm.get('firstName')?.errors?.['maxlength'] && author.isEdit">First
                                    Name maxmim length 15</p>
                            </div>
                            <div *ngIf="!author.isEdit">
                                {{author.firstName}}
                            </div>
                        </td>


                        <td>
                            <div *ngIf="author.isEdit">
                                <input formControlName="lastName" type="text" [(ngModel)]="author.lastName"
                                    class="form-control" />
                            </div>
                            <div *ngIf="authorsForm.get('lastName')?.errors != null && authorsForm.get('lastName')?.touched"
                                class="alert-danger mt-2">
                                <p class="text-danger"
                                    *ngIf="authorsForm.get('lastName')?.errors?.['required'] && author.isEdit">Last
                                    Name is
                                    required!</p>
                                <p class="text-danger"
                                    *ngIf="authorsForm.get('lastName')?.errors?.['minlength'] && author.isEdit">Last
                                    Name minmum length 3</p>
                                <p class="text-danger"
                                    *ngIf="authorsForm.get('lastName')?.errors?.['maxlength'] && author.isEdit">Last
                                    Name maxmim length 15</p>
                            </div>
                            <div *ngIf="!author.isEdit">
                                {{author.lastName}}
                            </div>
                        </td>
                        <td>
                            <div *ngIf="author.isEdit">
                                <input formControlName="DOB" type="date" class="form-control" id="datepicker">

                            </div>
                            <div *ngIf="authorsForm.get('DOB')?.errors != null && authorsForm.get('DOB')?.touched"
                                class="alert-danger mt-2">
                                <p class="text-danger"
                                    *ngIf="authorsForm.get('DOB')?.errors?.['required'] && author.isEdit">
                                    Date of Birth is
                                    required!</p>
                            </div>
                            <div *ngIf="!author.isEdit">
                                {{ author.DOB | date }}
                            </div>

                        </td>
                        <td>
                            <div *ngIf="author.isEdit">
                                <textarea formControlName="bio" class="form-control" id="bio"
                                    [(ngModel)]="author.bio"></textarea>
                            </div>
                            <div *ngIf="!author.isEdit" style="max-width: 500px;">
                                {{author.bio || 'Please Add The Author Bio Here'}}
                            </div>
                        </td>
                        <td style="width: 15%;" class="text-center">
                            <div *ngIf="author.isEdit">
                                <button type="submit" class="btn btn-sm greenBtn"
                                    (click)="onUpdate(author._id, authorsForm)"><i class="fas fa-sync-alt"></i>
                                </button>

                                <button class="btn btn-sm redBtn" (click)="author.isEdit = false"><i
                                        class="fas fa-times"></i>
                                </button>
                            </div>
                            <div *ngIf="!author.isEdit">
                                <button class="btn btn-sm greenBtn" (click)="onEdit(author._id, authorsForm)"><i
                                        class="fas fa-pencil-alt"></i>

                                </button>
                                <button class="btn-danger redBtn " (click)="onDelete(author._id)"> <i
                                        class="fas fa-trash-alt"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- <div class="mt-5 item-center">
                <pagination-controls (pageChange)="page = $event"></pagination-controls>
            </div> -->
            <mat-paginator [pageSizeOptions]="[4]" (page)="onPageChanged($event)" hidePrevNextButtons
                style="display: none;">
            </mat-paginator>
            <button mat-icon-button (click)="onPreviousPage()" [disabled]="currentPageIndex === 1"
                style="margin-right: 1%;">
                <img src="../../../assets/previous.png">
            </button>
            Page {{currentPageIndex}}
            <button mat-icon-button (click)="onNextPage()" [disabled]="currentPageIndex==totalPages">
                <img src="../../../assets/next.png">
            </button>

        </div>
    </div>
</section>