section {
    font-family: 'sora', sans-serif;

}

button {
    color: white;
    margin: 0 3px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}


.redBtn {
    background-color: #FFE2E6;
    color: #C67482;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
}

.greenBtn {
    background-color: #D0F4E8;
    color: #2C9978;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
}

button:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}


i {
    font-size: 20px;
}

thead {
    background-color: #F6F6F8;

}

th {
    color: #B7BABF;
    font-weight: lighter;
    font-size: 14px;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.imageContainer {
    position: relative;
    width: 50px;
    height: 50px;
    border: 3px solid #2C9978;
    border-radius: 50%;
    padding: 3px;
    overflow: hidden;
}

.imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-out;
}

.imageContainer:hover img {
    transform: scale(1.2);
}

.imageContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(44, 153, 120, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.imageContainer:hover::before {
    opacity: 1;
}

td {
    vertical-align: middle;
}

.authorTable {

    width: 100%;
    overflow-x: auto;
}