<app-navbar-home></app-navbar-home>

<section class="authorTable container">
    <app-authors-popup></app-authors-popup>
    <div class="row mt-5 mb-5 authorTable">
        <div class="col-12">
            <table class="table table-hover" [formGroup]="authorsForm" #authorForm="ngForm">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Photo</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Date of Birth</th>
                        <th>Author History</th>
                        <th style="width: 15%;" class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of authArr | paginate: { itemsPerPage: 4, currentPage: page };let i= index">
                        <td>{{i+1}}</td>
                        <td>
                            <div *ngIf="user.isEdit">
                                <input (change)="onFileSelected($event)" formControlName="authorImage" type="file"
                                    [(ngModel)]="user.img" class="form-control" id="imageUpload" accept="image/*">
                            </div>
                            <div *ngIf="authorsForm.get('authorImage')?.errors != null && authorsForm.get('authorImage')?.touched"
                                class="alert-danger mt-2">
                                <p class="text-danger"
                                    *ngIf="authorsForm.get('authorImage')?.errors?.['required'] && user.isEdit">
                                    Image is
                                    required!</p>
                            </div>
                            <div class="imageContainer" *ngIf="!user.isEdit">

                                <img src="../../../assets/profile-imgs/avatar.png" />
                            </div>
                        </td>

                        <td>
                            <div *ngIf="user.isEdit">
                                <input formControlName="firstName" type="text" [(ngModel)]="user.firstName"
                                    class="form-control" />
                            </div>
                            <div *ngIf="authorsForm.get('firstName')?.errors != null && authorsForm.get('firstName')?.touched"
                                class="alert-danger mt-2">
                                <p class="text-danger"
                                    *ngIf="authorsForm.get('firstName')?.errors?.['required'] && user.isEdit">First
                                    Name is
                                    required!</p>
                                <p class="text-danger"
                                    *ngIf="authorsForm.get('firstName')?.errors?.['minlength'] && user.isEdit">First
                                    Name minmum length 3</p>
                                <p class="text-danger"
                                    *ngIf="authorsForm.get('firstName')?.errors?.['maxlength'] && user.isEdit">First
                                    Name maxmim length 15</p>
                            </div>
                            <div *ngIf="!user.isEdit">
                                {{user.firstName}}
                            </div>
                        </td>


                        <td>
                            <div *ngIf="user.isEdit">
                                <input formControlName="lastName" type="text" [(ngModel)]="user.lastName"
                                    class="form-control" />
                            </div>
                            <div *ngIf="authorsForm.get('lastName')?.errors != null && authorsForm.get('lastName')?.touched"
                                class="alert-danger mt-2">
                                <p class="text-danger"
                                    *ngIf="authorsForm.get('lastName')?.errors?.['required'] && user.isEdit">Last
                                    Name is
                                    required!</p>
                                <p class="text-danger"
                                    *ngIf="authorsForm.get('lastName')?.errors?.['minlength'] && user.isEdit">Last
                                    Name minmum length 3</p>
                                <p class="text-danger"
                                    *ngIf="authorsForm.get('lastName')?.errors?.['maxlength'] && user.isEdit">Last
                                    Name maxmim length 15</p>
                            </div>
                            <div *ngIf="!user.isEdit">
                                {{user.lastName}}
                            </div>
                        </td>
                        <td>
                            <div *ngIf="user.isEdit">
                                <input formControlName="dob" type="date" class="form-control" id="datepicker">

                            </div>
                            <div *ngIf="authorsForm.get('dob')?.errors != null && authorsForm.get('dob')?.touched"
                                class="alert-danger mt-2">
                                <p class="text-danger"
                                    *ngIf="authorsForm.get('dob')?.errors?.['required'] && user.isEdit">
                                    Date of Birth is
                                    required!</p>
                            </div>
                            <div *ngIf="!user.isEdit">
                                {{user.dob}}
                            </div>
                        </td>
                        <td>
                            <div *ngIf="user.isEdit">
                                <textarea formControlName="bio" class="form-control" id="bio"></textarea>
                            </div>
                            <div *ngIf="!user.isEdit" style="max-width: 500px;">
                                {{user.bio}}
                            </div>
                        </td>
                        <td style="width: 15%;" class="text-center">
                            <div *ngIf="user.isEdit">
                                <button type="submit" class="btn btn-sm greenBtn"
                                    (click)="onUpdate(user.id, authorsForm)"><i class="fas fa-sync-alt"></i>
                                </button>

                                <button class="btn btn-sm redBtn" (click)="user.isEdit = false"><i
                                        class="fas fa-times"></i>
                                </button>
                            </div>
                            <div *ngIf="!user.isEdit">
                                <button class="btn btn-sm greenBtn" (click)="onEdit(user.id, authorsForm)"><i
                                        class="fas fa-pencil-alt"></i>

                                </button>
                                <button class="btn-danger redBtn " (click)="onDelete(user.id)"> <i
                                        class="fas fa-trash-alt"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="mt-5 item-center">
                <pagination-controls (pageChange)="page = $event"></pagination-controls>
            </div>

        </div>
    </div>
</section>