<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h5>Bookery</h5>
                <p>A platform for book lovers to discover, share, and discuss their favorite reads.</p>
            </div>
            <div class="col-md-3">
                <a class="userPages" [routerLink]="['/categories']"><h5>Categories</h5></a>
                <ul class="list-unstyled">
                    <li><a href="#">Fiction</a></li>
                    <li><a href="#">Non-Fiction</a></li>
                    <li><a href="#">Mystery</a></li>
                    <li><a href="#">Romance</a></li>
                    <li><a href="#">Sci-Fi</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <a class="userPages" [routerLink]="['user/authors']"><h5>Authors</h5></a>
                <ul class="list-unstyled">
                    <li><a href="#">Jane Austen</a></li>
                    <li><a href="#">Agatha Christie</a></li>
                    <li><a href="#">Stephen King</a></li>
                    <li><a href="#">J.K. Rowling</a></li>
                    <li><a href="#">George R.R. Martin</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a [routerLink]="['']">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <p>&copy; 2023 ITI Students. All Rights Reserved.</p>
            </div>
            <div class="col-md-6">
                <ul class="list-inline float-md-end">
                    <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                    <li class="list-inline-item"><a href="#">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>