* {
    font-family: 'sora', sans-serif;
}

section {
    padding-bottom: 80px;
    background-image: url('../../../assets/background-imgs/registrion-bg.jpg');
    background-size: cover;
    background-position: center;
}

.register {
    overflow: hidden;
}

.register-form,
.btnRegister {
    animation: slide-up 1s ease-out;
}

.register-form {
    padding: 10%;
    margin-top: 10%;
}

.register-right {
    background: #fff;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
    animation: slide-right 1s ease-out;
    margin-left: -50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.btnRegister {
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #f65d4e;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
    animation: gradient-background 5s ease-in-out infinite, pulse 2s ease-out infinite;
}

.btnRegister:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.register-heading {
    text-align: center;
    margin-top: 20%;
    margin-bottom: -15%;
    animation: fade-in 1s ease-out;
}

.register-heading span {
    display: inline-block;
    overflow: hidden;
    animation: typing 2s steps(20, end), blink-caret 0.75s step-end infinite;
    white-space: nowrap;
    font-size: 2rem;
    font-weight: bold;
}

.custom-input {
    position: relative;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #938d66;
    border-radius: 0;
    padding: 0;
    font-size: 16px;
    transition: all 0.3s ease;
}

.custom-input:focus {
    outline: none !important;
    border: 0;
}

.custom-input:hover {
    border-bottom: 2px solid #f65d4e;
}

.alert-danger p {
    color: red;
}

.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #8f8f8f;
    background-color: #EDF0F4;
    border-color: #fb4e3e;
    border-radius: 0.25rem;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-file-upload:hover {
    background-color: #fb4e3e;
    border-color: #fb4e3e;
    color: #fff;
}

.custom-file-upload input[type="file"] {
    display: none;
}

@media (max-width: 667px) {
    .register-right {
        margin-top: 20px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: 0;
    }

}

.button.radius {
    font-size: 18px;
    padding: 10px 40px;
    border: none;
    background-color: #fb4e3e;
    border-radius: 25px;
    color: #f2f2f2;
    position: relative;
    margin-top: 20px;
}

.button.radius svg {
    position: absolute;
    top: 13px;
    margin-left: 25px;
    width: 20px;
    height: 20px;
    opacity: 0;
    transform: translateX(75%) scaleX(0.1);
    transform-origin: center;
    transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1), opacity .4s cubic-bezier(0.86, 0, 0.07, 1);
}

.st0 {
    fill: #E5EFF5;
}

.button.radius:hover {
    cursor: pointer;
}

.button.radius:hover svg {
    opacity: 1;
    transform: translateX(30px) scaleX(1);
}

.button.radius:hover span {
    transform: translateX(-15px);
}

.button.radius span {
    display: inline-block;
    transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
}

.button.radius:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    /* add more styles here */
}