<section>
    <div class="user-ragistration">
        <div class="container register">
            <div class="row">
                <div class="col-md-12 register-left">
                    <h3>Welcome To Good Reads </h3>
                    <p>You’re in the right place. Tell us what titles or genres you’ve enjoyed in the past, and we’ll
                        give
                        you surprisingly insightful recommendations.</p>
                </div>
                <div class="row col-3">
                    <div class="col-6">
                        <div class="card">
                            <img src="book1.jpg" class="card-img-top" alt="Book 1">
                            <div class="card-body">
                                <h5 class="card-title">Card 1</h5>
                                <p class="card-text">This is the content of card 1.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card">
                            <img src="book2.jpg" class="card-img-top" alt="Book 2">
                            <div class="card-body">
                                <h5 class="card-title">Card 2</h5>
                                <p class="card-text">This is the content of card 2.</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-9 register-right">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <h3 class="register-heading">{{ typedMessage }}</h3>
                            <div class="row register-form">
                                <div class="col-md-6">
                                    <div class="form-group mt-5">
                                        <input type="text" class="form-control custom-input"
                                            placeholder="First Name *" />
                                        <label class="custom-input-label">First Name *</label>
                                    </div>
                                    <div class="form-group mt-3">
                                        <input type="text" class="form-control custom-input"
                                            placeholder="Last Name *" />
                                        <label class="custom-input-label">Last Name *</label>
                                    </div>

                                    <div class="form-group mt-3">
                                        <input type="password" class="form-control custom-input"
                                            placeholder="Confirm Password *" />
                                        <label class="custom-input-label">Confirm Password *</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group mt-5">
                                        <input type="email" class="form-control custom-input"
                                            placeholder="Your Email *" />
                                        <label class="custom-input-label">Your Email *</label>
                                    </div>

                                    <div class="form-group mt-3">
                                        <input type="text" class="form-control custom-input"
                                            placeholder="Enter Your Answer *" />
                                        <label class="custom-input-label">Enter Your Answer *</label>
                                    </div>
                                    <div class="form-group mt-3">
                                        <input type="password" class="form-control custom-input"
                                            placeholder="Password *" />
                                        <label class="custom-input-label">Password *</label>
                                    </div>
                                    <input type="submit" class="btnRegister" value="Register" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>