<app-navbar-home></app-navbar-home>
<section>
    <div class="user-ragistration">
        <div class="container register">
            <div class="row">
                <div class="col-md-12 text-center bg-transparent mt-5 mb-5 content">
                    <h3 class="mb-4 text2">Welcome To Bookery</h3>
                    <span class="blockquote">
                    </span>
                    <br />
                    <blockquote class="otro-blockquote">
                        You’re in the right place. Tell us what titles or genres you’ve enjoyed
                        in the past, and we’ll
                        give you surprisingly insightful recommendations.
                        <span>Bookery</span>
                    </blockquote>
                </div>

                <app-registration-cards-component
                    class="col-xl-5 col-lg-12 col-sm-12 col-xs-12 col-md-12"></app-registration-cards-component>

                <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-xs-12 register-right mt-3">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <h3 class="register-heading">{{ typedMessage }}</h3>
                            <form [formGroup]="registrationForm" class="row register-form"
                                (ngSubmit)="submitRegisterForm(registrationForm)">

                                <div class="col-md-6">

                                    <div class="form-group mt-5">
                                        <input formControlName="firstName" type="text" class="form-control custom-input"
                                            placeholder="First Name *" />
                                        <div *ngIf="registrationForm.get('firstName')?.errors != null && registrationForm.get('firstName')?.touched"
                                            class="alert-danger mt-2">
                                            <p *ngIf="registrationForm.get('firstName')?.errors?.['required']">First
                                                Name is
                                                required!</p>
                                            <p *ngIf="registrationForm.get('firstName')?.errors?.['minlength']">First
                                                Name minmum length 3</p>
                                            <p *ngIf="registrationForm.get('firstName')?.errors?.['maxlength']">First
                                                Name maxmim length 15</p>
                                        </div>
                                    </div>

                                    <div class="form-group mt-3">
                                        <input type="password" class="form-control custom-input"
                                            placeholder="Password *" formControlName="password" />

                                        <div *ngIf="registrationForm.get('password')?.errors != null && registrationForm.get('password')?.touched"
                                            class="alert-danger mt-2">
                                            <p *ngIf="registrationForm.get('password')?.errors?.['required']">
                                                Password is required!</p>
                                            <p *ngIf="registrationForm.get('password')?.errors?.['minlength']">
                                                Minmum Length is 8 charchters </p>
                                            <p *ngIf="registrationForm.get('password')?.errors?.['pattern']">
                                                Password must contain at least one uppercase letter, one number, and one
                                                special character ! @ # $ % ^ &
                                            </p>


                                        </div>
                                    </div>

                                    <div class="form-group mt-3">
                                        <input type="text" class="form-control custom-input" placeholder="Username *"
                                            formControlName="userName" />
                                        <div *ngIf="registrationForm.get('userName')?.errors != null && registrationForm.get('userName')?.touched"
                                            class="alert-danger mt-2">
                                            <p *ngIf="registrationForm.get('userName')?.errors?.['required']">Username
                                                is required!</p>
                                            <p *ngIf="registrationForm.get('userName')?.errors?.['minlength']">Username
                                                minimum length is 3</p>
                                            <p *ngIf="registrationForm.get('userName')?.errors?.['maxlength']">Username
                                                maximum length is 15</p>
                                            <p *ngIf="error.length>0">Username
                                                minimum length is 30</p>
                                        </div>
                                    </div>

                                    <div class="form-group mt-3">
                                        <input class="custom-file-upload" type="file" id="pImage"
                                            (change)="onFileSelected($event)">
                                            <div *ngIf="registrationForm.get('pImage')?.errors != null && registrationForm.get('pImage')?.touched"
                                            class="alert-danger mt-2">
                                        <div *ngIf="registrationForm.get('pImage')?.errors?.['required']"
                                            class="alert-danger mt-2">
                                            <p>Image is required!</p>
                                        </div>
                                            </div>
                                    </div>
                                </div>

                                <div class="col-md-6">

                                    <div class="form-group mt-5">
                                        <input type="text" class="form-control custom-input" placeholder="Last Name *"
                                            formControlName="lastName" />
                                        <div *ngIf="registrationForm.get('lastName')?.errors != null && registrationForm.get('lastName')?.touched"
                                            class="alert-danger mt-2">
                                            <p *ngIf="registrationForm.get('lastName')?.errors?.['required']">Last Name
                                                is required!</p>
                                            <p *ngIf="registrationForm.get('lastName')?.errors?.['minlength']">Last Name
                                                minimum length is 3</p>
                                            <p *ngIf="registrationForm.get('lastName')?.errors?.['maxlength']">Last Name
                                                maximum length is 15</p>
                                        </div>
                                    </div>

                                    <div class="form-group mt-3">
                                        <input type="password" class="form-control custom-input"
                                            placeholder="Confirm Password *" formControlName="confirmPassword" />

                                        <div *ngIf="registrationForm.get('confirmPassword')?.errors != null && registrationForm.get('confirmPassword')?.touched"
                                            class="alert-danger mt-2">
                                            <p *ngIf="registrationForm.get('confirmPassword')?.errors?.['required']">
                                                Confirm Password is required!</p>
                                            <p
                                                *ngIf="registrationForm.get('confirmPassword')?.errors?.['passwordMismatch']">
                                                Passwords do not match!</p>
                                        </div>
                                    </div>

                                    <div class="form-group mt-3">
                                        <input type="email" class="form-control custom-input" placeholder="Your Email *"
                                            formControlName="email" />

                                        <div *ngIf="registrationForm.get('email')?.errors != null && registrationForm.get('email')?.touched"
                                            class="alert-danger mt-2">
                                            <p *ngIf="registrationForm.get('email')?.errors?.['required']">Email is
                                                required!</p>
                                            <p *ngIf="registrationForm.get('email')?.errors?.['email']">Please enter a
                                                valid email address!</p>
                                        </div>
                                    </div>

                                    <button class="radius button" for="fileInput" [disabled]="!registrationForm.valid">
                                        <svg class="icon-arrow after" version="1.1" id="Capa_1"
                                            viewBox="0 0 403.8 200.3" style="enable-background:new 0 0 403.8 200.3;">
                                            <g>
                                                <g>
                                                    <path class="st0"
                                                        d="M25.2,114.3h317.3L290,166.6c-5.9,5.8-5.9,15.3-0.1,21.2c5.8,5.9,15.3,5.9,21.2,0.1l78.3-77.9c0,0,0,0,0,0
                                                                     c5.9-5.8,5.9-15.4,0-21.2c0,0,0,0,0,0l-78.3-77.9c-5.9-5.8-15.4-5.8-21.2,0.1c-5.8,5.9-5.8,15.4,0.1,21.2l52.6,52.3H25.2
                                                                     c-8.3,0-15,6.7-15,15C10.2,107.6,16.9,114.3,25.2,114.3z" />
                                                </g>
                                            </g>
                                        </svg>
                                        <span>Sign Up</span>

                                    </button>

                                    <input type="submit" style="display: none;" [disabled]="!registrationForm.valid">

                                </div>
                                <div *ngIf="successMessage" class="alert mt-3 alert-success text-center align-bottom"
                                    role="alert">
                                    {{ successMessage }}
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
