<mat-card-header>
    <mat-card-title class="review-heading">Reviews</mat-card-title>
</mat-card-header>

<mat-card-content>
    <div class="review-section">
        <mat-card class="review-card">
            <mat-card-header>
                <div class="review-header">
                    <mat-icon class="user-icon">account_circle</mat-icon>
                    <div class="user-info">
                        <p class="user-name">John Doe</p>
                        <div class="user-rating">
                            <ng-container *ngFor="let star of stars">
                                <mat-icon class="star-icon">{{ star }}</mat-icon>
                            </ng-container>
                        </div>
                    </div>
                </div>
            </mat-card-header>
            <mat-card-content>
                <p class="review-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Aenean nec dui eget velit euismod eleifend. Proin quis malesuada justo. Pellentesque euismod mi
                    vitae felis
                    accumsan, id commodo libero iaculis. Nunc non leo tincidunt, vestibulum velit vel, convallis velit.
                    Donec
                    quis ultricies magna, vel volutpat arcu. Curabitur vitae erat quis velit semper euismod.</p>
            </mat-card-content>
        </mat-card>
    </div>
</mat-card-content>
