<app-books-header></app-books-header>
<section>
    <div class="container ">
        <h2 class="text-center mb-4 heading">Books</h2>
        <div class="row     ">
            <ng-container *ngFor="let book of books; let i = index;">
                <div class="col-md-3 mb-4">
                    <mat-card class="h-100">
                        <div mat-card-header>
                            <div class="book-image" [style.background-image]="'url(' + book.bookImage + ')'"></div>
                        </div>
                        <mat-card-content class="card-content">
                            <a class="card-link" [routerLink]="['/books',book._id]">
                                <mat-card-title class="card-title">{{ book.name }}</mat-card-title>
                            </a>
                            <!-- <mat-card-subtitle class="card-subtitle">{{ book.author }}</mat-card-subtitle> -->
                        </mat-card-content>

                    </mat-card>
                </div>
                <div class="clearfix d-md-none"></div>
                <div *ngIf="(i + 1) % 4 === 0" class="col-md-12 mt-4"></div>
            </ng-container>
            <div class="col-md-12 mt-4">


                <mat-paginator [pageSizeOptions]="[4]" (page)="onPageChanged($event)" hidePrevNextButtons
                    style="display: none;">
                </mat-paginator>
                <button mat-icon-button (click)="onPreviousPage()" [disabled]="currentPageIndex === 1"
                    style="margin-right: 1%;">
                    <img src="../../../assets/previous.png">
                </button>
                Page {{currentPageIndex}}
                <button mat-icon-button (click)="onNextPage()" [disabled]="currentPageIndex==totalPages">
                    <img src="../../../assets/next.png">
                </button>

            </div>
        </div>
    </div>
</section>