<div class="dialog">

  <div mat-dialog-title>
    <h3>Book Form</h3>
  </div>
  <div class="form-wrap">
    <form [formGroup]="bookForm" (ngSubmit)="submitData(bookForm)">
      <div mat-dialog-content>

        <div class="row">


          <div class="col-md-6">
            <div class="form-group">
              <mat-form-field appearance="outline" style=" vertical-align: middle;margin-top: 4%;">
                <mat-label>Name</mat-label>
                <input matInput style="vertical-align: middle;" type="text" class="form-control" formControlName="name" name="name">
              </mat-form-field>
              <div class="dialogVal alert-danger"
                *ngIf="bookForm.get('name')?.errors != null && bookForm.get('name')?.touched">
                <p class="text-danger" *ngIf="bookForm.get('name')?.errors?.['required']">Book Name is required!</p>
                <p class="text-danger" *ngIf="bookForm.get('name')?.errors?.['minlength']">Book Name minmum length 3</p>
              </div>
              <div *ngIf="nameMessage" class="alert mt-3 alert-danger text-center"
              role="alert">{{nameMessage}}</div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput type="text" cols="50" class="form-control" formControlName="description" name="description"></textarea>
              </mat-form-field>
              <div class="dialogVal alert-danger"
                *ngIf="bookForm.get('description')?.errors != null && bookForm.get('description')?.touched">
                <p class="text-danger" *ngIf="bookForm.get('description')?.errors?.['required']">Description is required!
                </p>
                <p class="text-danger" *ngIf="bookForm.get('description')?.errors?.['minlength']">Description minmum
                  length 30</p>
                  <p class="text-danger" *ngIf="bookForm.get('description')?.errors?.['maxlength']">Description maximum
                    length 120</p>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="content"> -->
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Category Id</mat-label>
                <input matInput type="number" class="form-control" formControlName="categoryId">
              </mat-form-field>
              <div class="catVal alert-danger"
                *ngIf="bookForm.get('categoryId')?.errors != null && bookForm.get('categoryId')?.touched">
                <p class="text-danger" *ngIf="bookForm.get('categoryId')?.errors?.['required']">Category Id is required!
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">

            <div class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>Author Id</mat-label>
                <input matInput type="number" class="form-control" formControlName="authorId">
              </mat-form-field>

              <div class="dialogVal alert-danger"
                *ngIf="bookForm.get('authorId')?.errors != null && bookForm.get('authorId')?.touched">
                <p class="text-danger" *ngIf="bookForm.get('authorId')?.errors?.['required']">Author Id is required!</p>
              </div>
            </div>
          </div>
          <div *ngIf="catMessage" class="alert mt-3 alert-danger text-center"
          role="alert">{{catMessage}}</div>
        </div>

        <div class="col-md-12">
          <div class="form-group">

            <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
            <input hidden formNameControl="bookImage" name="bookImage" accept="image/*"
              (change)="onFileSelected($event)" #fileInput type="file" id="bookImage">
          </div>
        </div>

      </div>
      <div mat-dialog-action class="action">
        <button mat-raised-button class="btn btn-sucess btn-block p-3"
          type="submit">{{data?'Update':'Save'}}</button>
        <button mat-raised-button class="btn btn-danger btn-block p-3" (click)="closeDialog()"
          type="button">Cancel</button>
      </div>
    </form>
  </div>
</div>