<app-books-header></app-books-header>
<section class="mt-5 mb-5">


    <div class="container" *ngIf="book!==undefined">
        <mat-card class="book-card">
            <div class="row">
                <div class="col-md-2">
                    <div class="book-image" [style.background-image]="'url(' + book.bookImage + ')'"></div>
                </div>
                <div class="col-md-10 ">
                    <mat-card-header>
                        <mat-card-title class="book-title">{{ book.name}}</mat-card-title>
                        <!-- <mat-card-subtitle class="book-author">{{ book.authorId.firstName }} {{book.authorId.lastName}}</mat-card-subtitle>
                        <mat-card-subtitle class="book-category">{{ book.categoryId.name }}</mat-card-subtitle> -->

                    </mat-card-header>
                </div>
                    <mat-card-content>

                        <div class="book-rating d-block">
                            <ng-container *ngFor="let star of stars">
                                <!-- <mat-icon class="star-icon">{{ star }}</mat-icon> -->
                            </ng-container>
                        </div>
                    </mat-card-content>
                    <mat-card-content>
                        <p class="book-description">{{ book.description }}</p>
                        <br/>
                    </mat-card-content>
                    <hr id="line"/>
                    <mat-card-content>
                        <form [formGroup]="userReview" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <ngb-rating id="starRate" [max]="5" (rateChange)="onRateChange($event)" name="rating" [readonly]="false"></ngb-rating>
                            </div>
                            <div class="form-group">
                              <textarea class="form-control w-50" id="review-text" formControlName="review" name="review"></textarea>
                              <div class="dialogVal alert-danger"
                              *ngIf="userReview.get('review')?.errors != null && userReview.get('review')?.touched">
                              <p class="text-danger" *ngIf="userReview.get('review')?.errors?.['required']">Your comment is required!
                              </p>
                              <p class="text-danger" *ngIf="userReview.get('review')?.errors?.['minlength']">your comment minmum
                                length 3</p>
                                <p class="text-danger" *ngIf="userReview.get('review')?.errors?.['minlength']">your comment maximum
                                    length 140</p>
                                <div *ngIf="errorMessage" class="alert mt-3 alert-danger text-center"
                                role="alert">{{errorMessage}}</div>
                            </div>
                            </div>


                            <div>
                                <button class="btn btn-block">Add Your Review</button>
                            </div>
                          </form>
                    </mat-card-content>
            </div>
        </mat-card>
        <mat-card-header>
            <mat-card-title class="review-heading">Reviews</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div class="review-section">
                <mat-card class="review-card" *ngFor="let review of reviews" >
                    <mat-card-header>
                        <div class="review-header">
                            <mat-icon class="user-icon">account_circle</mat-icon>
                            <div class="user-info" >
                                <p class="user-name">{{ review.user.userName}}</p>
                                <div class="user-rating">
                                  <p class="text-warning">Rating :  {{review.rating}}.0  </p>
                                </div>
                            </div>
                        </div>
                    </mat-card-header>
                    <mat-card-content>
                        <p class="review-description"> {{review.review}}</p>
                    </mat-card-content>
                </mat-card>

            </div>
        </mat-card-content>
    </div>
</section>
