.book-card {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
}

.fa {
    color: #ff8c00;
    font-size: 25px;
    margin-top: 5px;
}


.star-hover {
    color: orange;
    cursor: pointer;
}


.book-image {
    height: 225px;
    width: 155px;
    background-size: cover;
    background-position: center;
    border: 1px solid #ccc;
}

.book-title {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 8px;
}

.book-author {
    font-size: 18px;
    color: #666;

}

#line {
    width: 70%;
    margin: auto;
}

.form-group #starRate {
    margin-top: 2%;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    margin-bottom: 2%;
    margin-left: 40%;
    color: #ffc107;
}

#review-text {
    margin: auto;
    height: 100px;
}

#review-text:focus {
    border: 1px solid #fb4e3e;
    outline: none;
}

.btn-block {
    margin-left: 45%;
    background-color: #fb4e3e;
    color: #fff;
    padding: 10px;
    margin-top: 2%;
}

button:hover {
    background-color: #fff;
    color: #fb4e3e;
    border: 1px solid #fb4e3e;
}

.book-category {
    font-size: 18px;
    color: #666;
    margin-top: 8px;
}

.book-rating {
    margin-top: 8px;
}

/* .star-icon {
    color: orange;
} */

.book-dropdown {
    margin-top: 8px;
}

.review-heading {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.book-description {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 16px;
}

.review-card {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.review-header {
    display: flex;
    align-items: center;

}

.user-icon {
    font-size: 40px;
    color: #ccc;
    margin-right: 20px;
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-name {
    font-weight: bold;
    margin-bottom: 5px;
    left: 140px !important;
}

.user-rating {
    display: inline;
    float: left;
    margin: 3px;
}

.user-rating i {
    display: inline;
    float: right;
    margin: 3px;
}

/* .star-icon {
    font-size: 20px;
    color: #ffc107;
    margin-right: 5px;
} */

.review-description {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
    margin-top: 10px;
}