<div class="container">

    <div class="card col-6 col" routerLink="/home" style="--cards: 2">
        <a>
            <div class="child"></div>
            <div class="child"></div>
            <div class="child"></div>
            <div class="child"></div>
            <div class="child"></div>

            <div class="child ">
                <h2>Popular Authors</h2>

            </div>
        </a>
    </div>
    <div class="card col-6 card-2" routerLink="/home" style="--cards: 2">
        <a>

            <div class="child"></div>
            <div class="child"></div>
            <div class="child"></div>
            <div class="child"></div>
            <div class="child"></div>

            <div class="child">
                <h2>Popular Books</h2>

            </div>
        </a>
    </div>
    <div class="card col-6 last-card" routerLink="/home"  style="--cards: 2">
        <a>
            <div class="child"></div>
            <div class="child"></div>
            <div class="child"></div>
            <div class="child"></div>
            <div class="child"></div>

            <div class="child">
                <h2>Popular Categories</h2>

            </div>
        </a>
    </div>
</div>
