<!-- <div class="col-6 ">
    <div class="card shadow-md">
        <img src="../../../assets/books-imgs/life-of-bi.jpg" class="card-img-top" alt="Book 1">
        <div class="card-body">
            <h5 class="card-title">Popular Authors</h5>
        </div>
    </div>
</div>
<div class="col-6 mid-card">
    <div class="card shadow-md">
        <img src="../../../assets/books-imgs/the-curious.jpg" class="card-img-top" alt="Book 2">
        <div class="card-body">
            <h5 class="card-title">Popular Books</h5>
        </div>
    </div>
</div>
<div class="col-6 last-card">
    <div class="card shadow-md">
        <img src="../../../assets/books-imgs/the-curious.jpg" class="card-img-top" alt="Book 2">
        <div class="card-body">
            <h5 class="card-title">Popular Categories</h5>
        </div>
    </div>
</div> -->

<div class="container">

    <div class="card col-6" style="--cards: 2">
        <a>
            <div class="child"></div>
            <div class="child"></div>
            <div class="child"></div>
            <div class="child"></div>
            <div class="child"></div>

            <div class="child ">
                <h2>Popular Authors</h2>
                <p>210 Authors</p>
            </div>
        </a>
    </div>
    <div class="card col-6 card-2" style="--cards: 2">
        <a>

            <div class="child"></div>
            <div class="child"></div>
            <div class="child"></div>
            <div class="child"></div>
            <div class="child"></div>

            <div class="child">
                <h2>Popular Books</h2>
                <p>2234 Books</p>
            </div>
        </a>
    </div>
    <div class="card col-6 last-card" style="--cards: 2">
        <a>

            <div class="child"></div>
            <div class="child"></div>
            <div class="child"></div>
            <div class="child"></div>
            <div class="child"></div>

            <div class="child">
                <h2>Popular Categories</h2>
                <p>32 Categories</p>
            </div>
        </a>
    </div>
</div>