* {
  font-family: 'sora', sans-serif;
}

#logo{
    width:100%;
}

/* form input{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #000;
    border-radius: 0;
    padding: 4px;
    font-size: 15px;
    transition: all 0.3s ease;
    margin-left: 10px;
}

form input:focus{
  outline: none !important;
  border-bottom: 2px solid #f65d4e;

}

form input:hover{
  border-bottom: 2px solid #f65d4e;
} */

.button.radius {
  padding:11px 29px;
  border: none;
  background-color: #fb4e3e;
  border-radius: 25px;
  color: #f2f2f2;
  position: relative;
  margin-left: 10px;
  font-size: 19px;
}

.button.radius svg {
  position: absolute;
  top: 8px;
  margin-left: 15px;
  width: 28px;
  height: 28px;
  opacity: 0;
  transform: translateX(75%) scaleX(0.1);
  transform-origin: center;
  transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1), opacity .4s cubic-bezier(0.86, 0, 0.07, 1);
}

.st0 {
  fill: #E5EFF5;
}

.button.radius:hover {
  cursor: pointer;
}

.button.radius:hover svg {
  opacity: 1;
  transform: translateX(30px) scaleX(1);
}

.button.radius:hover span {
  transform: translateX(-15px);
}

.button.radius span {
  display: inline-block;
  transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
}

