<app-author-header></app-author-header>
<section>
    <div class="container pt-5">
        <h2 class="text-center mb-5 pt-5 heading">Authors</h2>
        <div class="row mt-5">
            <ng-container *ngFor="let author of authors; let i = index;">
                <div class="col-md-2 mb-4">
                    <mat-card class="h-100">
                        <div mat-card-header class="image-container">
                            <div class="book-image" [style.background-image]="'url(' + author.authorImg + ')'"></div>
                        </div>
                        <mat-card-content class="card-content">
                            <a class="card-link" [routerLink]="['/author',author._id]">
                                <mat-card-title class="card-title">{{ author.firstName }}
                                    {{ author.lastName }}</mat-card-title>
                            </a>
                        </mat-card-content>

                    </mat-card>
                </div>
                <div class="clearfix d-md-none"></div>
            </ng-container>
            <div class="col-md-12 mt-4">
                <mat-paginator [pageSizeOptions]="[5]" (page)="onPageChanged($event)" hidePrevNextButtons
                    style="display: none;">
                </mat-paginator>
                <button mat-icon-button (click)="onPerviousPage()" [disabled]="currentPageIndex === 1"
                    style="margin-right: 1%;">
                    <img src="../../../assets/previous.png">
                </button>
                Page {{currentPageIndex}}
                <button mat-icon-button (click)="onNextPage()" [disabled]="currentPageIndex==totalPages">
                    <img src="../../../assets/next.png">
                </button>
            </div>
        </div>
    </div>
</section>