.headline {
    font-family: "Sora", sans-serif;
    font-size: 60px;
    line-height: 50px;
    text-transform: none;
    font-weight: 700;
    color: black;
}

.header-content p {
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .header-content {
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .header-content h1 {
        font-size: 30px;
    }

    .header-content p {
        font-size: 15px;
    }
}

.header-container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    position: relative;
}

.header-image {
    background-image: url('../../../../../assets/background-imgs/author-header.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
}

.header-content {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.header-title {
    font-size: 3rem;
    margin: 0;
}

.header-subtitle {
    font-size: 1.5rem;
    margin: 0;
}


.h-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 11px 29px;
    min-height: 52px;
    min-width: 0px;
    max-width: 480px;
    margin-left: 10px;
    overflow: hidden;
    border-radius: 25px;
    border: none;
    background-color: #fb4e3e !important;
    color: #f2f2f2 !important;
    font-size: 19px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
    user-select: none !important;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    position: relative;
    font-weight: 500 !important;

}

.h-button:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
}

.h-button-button:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
}