<app-navbar></app-navbar>

  <div class="col-3 mt-5">
  <button mat-raised-button role="button" style="color:#f0f0f0; margin-left: 7%;" class="button-86" (click)="openDialog()">Add Category</button>
</div>

<div>    
    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
      
           <ng-container matColumnDef="_id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element._id}} </td>
          </ng-container>
    
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
      
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action</th>
            <td mat-cell *matCellDef="let element"> 
            <button mat-icon-button (click)="openEditDialog(element)"><img class="editBg" src="../../../assets/edit.png"
              ></button> 
            <button mat-icon-button (click)="deleteCategory(element._id)"><img width="100%" src="../../../assets/delete.png"></button>      
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      </div> 

</div>